<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
        background-color: rgb(20, 20, 20);
        color: #fff;
        font-size: 16px;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      label,
      input[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        color: #333;
        background-color: #fff;
        cursor: pointer;
      }

      input[type="file"] {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        color: #333;
        background-color: #fff;
      }
      p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>File Upload</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" required>
        <input type="submit" value="Upload">
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <h1>Donate to support this project</h1>
        <h2>This Project Was Made By IPZ, PLZ dont remove credits if your gonna use</h2>
        <p>Bitcoin: 1R4UTBZLVT6bygMkEtdmYAUuRjD32GQ6q</p>
        <p>Ethereum: 0x1c80BE251992955d679711879D15ac19e9E6Ba23</p>
    </div>
  </body>
</html>