<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
        background-color: rgb(20, 20, 20);
        color: #fff;
        font-size: 16px;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      #link {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        color: #333;
        background-color: #fff;
        cursor: pointer;
        text-align: center;
      }

      #link:hover {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>File Upload</h1>
      <p>Your file has been uploaded successfully. You can download it using the following link:</p>
      <a id="link" href="/download/<%= id %>">/download/<%= id %></a>
    </div>
  </body>
</html>
